@{
    ViewData["Title"] = "Inicio";
}

<!--<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Registra tu musica!<br /> <a asp-controller="Musicas" asp-action="Index" class="btn btn-outline-dark">Comenzar</a></p>
</div>-->

    <!-- Navigation-->

    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 " >
            <div class="mx-auto text-center" style="padding-top:70px">
                <h1 class="mx-auto my-0 text-uppercase">Musicfy</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Una aplicación para guardar tu musica favorita.</h2>
                <a class="btn btn-primary js-scroll-trigger" asp-controller="Musicas" asp-action="Index">Iniciar!</a>
            </div>
        </div>
    </header>
    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
